@model Contactus.Models.ContactMessage

@{
    ViewData["Title"] = "Details";
}

<h1>Your message is saved</h1>

<div>
    <h4>Thank you for contacting us</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class="col-sm-2">
            Phone number
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            email
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Message)
        </dd>
    </dl>
</div>
<div>
    @* <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> | *@
    @* <a asp-action="Index">Back to List</a> *@
    <a asp-controller="Home" asp-action="Index">Back to main page</a>
</div>
